<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
	<title>Leffalista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col-md4">
		<h1>Leffalista</h1>
		<p> Tervetuloa katsomaan leffatarjontaani.<br>Leffan tilasta näette, onko elokuva hyllyssä, lainassa vai myynnissä.Voitte tämän sovelluksen kautta laittaa varauspyynnön.</p>
	</div>
		<div class="col-md4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Leffan nimi</th>
			<th>Genre</th>
			<th>Ohjaaja</th>
			<th>Päänäyttelijä</th>
			<th> Tila </th>
			<th> Varaaja </th>
			<th>  </th>
			<th> </th>
			<th>  </th>
		</tr>

		<tr th:each="leffa : ${leffat}">
			<td th:text="${leffa.nimi}">nimi</td>
			<td th:text="${leffa.genre}">genre</td>
			<td th:text="${leffa.ohjaaja}">ohjaaja</td>
			<td th:text="${leffa.paanayttelija}">paanayttelija</td>
			<td th:text="${leffa.kategoria.nimi}">tila</td>
			<td th:text="${leffa.varaaja}">varaaja</td>
			
			<td><a th:href="@{/varaa/{id}(id=${leffa.id})}" class="btn btn-warning">Varaa elokuva</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"> <a th:href="@{/edit/{id}(id=${leffa.id})}" class="btn btn-primary">Muokkaa</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${leffa.id})}" class="btn btn-danger">Poista</a></td>    		
			
		</tr>
	</table>
	
	<form sec:authorize="hasAuthority('ADMIN')"action="/add">
		<input type="submit" value="Lisää leffa" class="btn btn-success">
	</form>
</body>
</html>
			
			