<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<title>Lisää uusi elokuva</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="col-md3">
	<h1>Lisää uusi leffa!</h1>
<div>
		<form th:object="${leffa}" th:action="@{tallenna}" action="#" method="post" class="form-group" >
		  	<label for="nimi">Nimi</label>
			<input type="text" th:field="*{nimi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="genre">Genre</label>
			<input type="text" th:field="*{genre}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="ohjaaja">Ohjaaja</label>
			<input type="text" th:field="*{ohjaaja}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="paanayttelija">Päänäyttelijä</label>
			<input type="text" th:field="*{paanayttelija}" />
			<div style="clear: both; display: block; height: 10px;"></div>

								
		  	<label for="tilalist">Tila</label>
		  	<div class="col-xs-2">
			 <select id="tilalist" th:field="*{kategoria}" class="form-control">
       			<option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoriaId}" th:text="${kategoria.nimi}"></option>
    		</select>
    		</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Tallenna" class="btn btn-success"></input>
		</form>
	</div>
	

</body>
</html>