<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<title>Muokkaa elokuva</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="form-horizontal">
		<form th:object="${leffa}" th:action="@{../tallenna}" action="#" method="post" class="form-group">
		  	<input type="hidden" th:field="*{id}"/>
		  	<label for="nimi">Nimi</label>
			<input type="text" th:field="*{nimi}" />
		  	<label for="genre">Genre</label>
			<input type="text" th:field="*{genre}" />
		  	<label for="ohjaaja">Ohjaaja</label>
			<input type="text" th:field="*{ohjaaja}" />
			<label for="paanayttelija">Päänäyttelijä</label>
			<input type="text" th:field="*{paanayttelija}" />
			
								
		  	<label for="tilalist">Tila</label>
			 <select id="tilalist" th:field="*{kategoria}" class="form-control">
       			<option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoriaId}" th:text="${kategoria.nimi}"></option>
    		</select>
			
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>

</body>
</html>